.windowControl:hover {
  cursor: pointer;
  color: #5EC4EB !important;
}

.container {
  position: absolute;
  text-align: center;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: 'Maven Pro';
  margin: 0px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container h2 {
  font-size: 5rem;
}

.container a {
  font-size: 1.4rem;
}
button {
  outline: none;
}


.windowControl:hover {
  cursor: pointer;
  color: #5EC4EB !important;
}

.landingHeader {
    padding: 30px;
    padding-top: 20px;
    display: flex;
}

.landingHeaderLeft {
    width: 40%;
    text-align: left;
}

.landingHeaderRight{
    width: 60%;
    text-align: right;
    font-size: 12px;
    color: #D3D3D3;
}

.logoTitle {
    font-family: 'Maven Pro';
    position: relative;
    bottom: 3px;
    left: 10px;
    font-weight: 'bold';
    font-size: 20px;
}

.signupButton, .loginButton {
    font-family: 'Maven Pro';
    border: none;
    border: solid 2px #5EC4EB;
    background: none;
    font-weight: bold;
    border-radius: 30px;
    padding: 10px 30px;
    color: #5EC4EB;
    font-weight: 'bold';
    margin-left: 10px;
}

.loginButton {
    border: none;
    color: white;
    background: linear-gradient(258.54deg, #5ec3eb 0%, #d023eb 100%);
    margin-left: 0px;
    width: 275px;
}

.signupButton:hover, .loginButton:hover {
    cursor: pointer;
}

.headerButton {
  margin-left: 15px;
  font-weight: bold;
  color: #D1D1D1;
}

.headerButton:hover {
  cursor: pointer;
  color: #5EC4EB;
}

.faSpin {
  position: relative;
  top: 2px;
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
}
.faPulse {
  -webkit-animation: fa-spin 1s infinite steps(8);
  animation: fa-spin 1s infinite steps(8);
}

@-webkit-keyframes faSpin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes faSpin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.blueGradient {
  background: linear-gradient(258.84deg, #5ec3eb 0%, #d023eb 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.bigBox, .statBox {
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.35);
}

.bigBox:hover {
  cursor:pointer;
  transform: scale(1.02);
}