.titlebar {
    position: absolute;
    left: 0px;
    top: -1px;
    width: 100%;
    height: 35px;
    background: #dfe1e6;
}

.tab {
    position: absolute;
    background: white;
    left: 10px;
    top: -36px;
    width: 250px;
    height: 35px;
    border-radius: 8px 8px 0px 0px;
}

.tabClose {
    color: #333333;
    font-size: 10px;
    cursor: pointer;
}

.tabCloseWrapper {
    position: absolute;
    left: 235px;
    top: -30px;
    cursor: pointer;
    z-index: 9999;
}

.addTab {
    position: absolute;
    top: -26px;
    left: 280px;
    font-size: 12.5px;
    color: #888888;
}

.searchBarWrapper {
    background: white;
    padding: 0px 20px 4px 20px;
    display: flex;
}

.navigationIcon {
    font-size: 15px;
    position: relative;
    margin-right: 20px;
    color: #333333;
    top: 6px;
}

.searchBar {
    border-radius: 15px;
    height: 30px;
    background: #f1f3f4;
    flex-grow: 1;
}

.innerRound {
    width: 10px;
    height: 10px;
    background: white;
    -webkit-mask-image: radial-gradient(
        circle 10px at 0 0,
        transparent 0,
        transparent 10px,
        black 11px
    );
    mask-image: radial-gradient(
        circle 10px at 0 0,
        transparent 0,
        transparent 10px,
        black 11px
    );
    position: absolute;
    top: -14px;
    left: 0px;
}
