# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# More details are here: https://help.github.com/articles/about-codeowners/

# The '*' pattern is global owners.
# Global rule:
*                       @fractal/code-standard-reviewers

# Order is important. The last matching pattern has the most precedence.
# The folders are ordered as follows:

/.github/               @philippemnoel @rpadaki @npip99
/client-applications/   @neilyio @mingy98 @philippemnoel
/mandelbox-images/      @djsavvy @rpadaki @philippemnoel
/core-ts/               @neilyio @mingy98 @janniezhong
/host-service/          @djsavvy @sardination @rpadaki
/host-setup/            @rpadaki @djsavvy @philippemnoel
/protocol/              @npip99 @rpadaki @sardination
/webserver/             @FishmanL @owenniles @djsavvy
/website/               @neilyio @mingy98 @janniezhong

# In each subsection folders are ordered first by depth, then alphabetically.
# This should make it easy to add new rules without breaking existing ones.
