# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# More details are here: https://help.github.com/articles/about-codeowners/

# The '*' pattern is global owners.
# Global rule:
*                       @fractal/code-standard-reviewers

# Order is important. The last matching pattern has the most precedence.
# The folders are ordered as follows:

/client-applications/   @neilyio @mingy98 @philippemnoel
/container-images/      @djsavvy @rpadaki @philippemnoel
/core-ts/               @neilyio @mingy98
/ecs-host-service/      @djsavvy @sardination @rpadaki
/ecs-host-setup/        @rpadaki @djsavvy @philippemnoel
/ecs-task-definitions/  @rpadaki @sardination @FishmanL
/main-webserver/        @FishmanL @owenniles @jmather625
/protocol/              @npip99 @rpadaki @sardination
/website/               @neilyio @mingy98
/.github/               @philippemnoel @rpadaki

# In each subsection folders are ordered first by depth, then alphabetically.
# This should make it easy to add new rules without breaking existing ones.
