# This workflow will check if the code is linted with Python Black

name: Python Black Linting

on:
  pull_request:
    branches: [ master ]

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      with:
        persist-credentials: false # otherwise, the token used is the GITHUB_TOKEN, instead of your personal token
        fetch-depth: 0 # otherwise, you will fail to push refs to dest repo

    - name: Set up Python 3.6
      uses: actions/setup-python@v2
      with:
        python-version: 3.6

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install black
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
              
    - name: Check if code is linted with Python Black
      run: |
        result=$(black . --check) # black --check returns 0 if the code is already linted
        if [ "$result" -ne "0" ]; then        
          (echo "To pass this check please lint the code with Python Black" && false)
        else
          (echo "Code is linted with Python Black" && true)
        fi
