# This workflow will lint with Python Black and commit to the same branch

name: Python Black Linting

on:
  pull_request:
    branches: [ master, staging ]


jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      with:
        persist-credentials: false # otherwise, the token used is the GITHUB_TOKEN, instead of your personal token
        fetch-depth: 0 # otherwise, you will failed to push refs to dest repo
      
    - name: Set up Python 3.6
      uses: actions/setup-python@v2
      with:
        python-version: 3.6

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install black
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
        
    - name: Format with Python Black
      run: black .
      
    - name: Commit linted files
      run: |
        git config --local user.email "linter@fractalcomputers.com"
        git config --local user.name "Fractal Linter"
        git diff-index --quiet HEAD || (echo "To pass this check please lint the code with Python Black" && false)
