# This workflow will lint with Python Black and commit to the same branch

name: Python Webserver Linting

on: [ push ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      
    - name: Set up Python 3.6
      uses: actions/setup-python@v2
      with:
        python-version: 3.6

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install black
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
        
    - name: Format with Python Black
      run: black .
      
    - name: Commit linted files
      run: |
        git config --local user.email "linter@fractalcomputers.com"
        git config --local user.name "Fractal Linter"
        git diff-index --quiet HEAD || git commit -m "Linted with Python Black" -a
        
    - name: Push changes
      uses: ad-m/github-push-action@master
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        branch: ${{ github.ref }}
