# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
node_modules
.pnp
.pnp.js

# VS Code
.vscode/

# JetBrains
.idea/

# Code coverage
coverage

# dynamically generated css
public/css/tailwind.css

# Python
__pycache__
.ipynb_checkpoints
scripts/__pycache__
scripts/.ipynb_checkpoints

# Misc
.env
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.eslintcache

# Package manager
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Tags
**/TAGS
**/tags

# GitHub Codespaces
.venv

# Streaming protocol testing
perf_logs

# Local Netlify folder
# (netlify wants this line in root, not website gitignore)
.netlify
