# Starts Whist by starting Whist systemd services, runs as root
[Unit]
Description=Whist Entrypoint

[Service]
Type=oneshot
ExecStart=/usr/share/whist/whist-startup.sh
StandardOutput=file:/var/log/whist/startup-out.log
StandardError=file:/var/log/whist/startup-err.log

[Install]
WantedBy=multi-user.target
