@import "~app.global.css";

.paymentWrapper {
    width: 100vw;
    height: 100vh;
    position: relative;
    background: var(--text-background-color);
}

.paymentCentered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
}

.paymentText {
    color: black;
    margin-top: 30px;
    line-height: 1.6;
}

.transparentButton {
    border: solid 1px var(--primary-color);
    background: var(--primary-color);
    color: var(--text-background-color);
    border-radius: 2px;
    font-weight: bold;
    padding: 15px 60px;
    text-transform: uppercase;
    letter-spacing: 1.6px;
    cursor: pointer;
    margin-top: 40px;
    transition-duration: 0.5s;
    font-size: 16px;
}

.transparentButton:hover {
    border: solid 1px var(--accent-color);
    background: var(--accent-color);
    color: black;
}

.logoutButton {
    right: 30px;
    top: 100px;
    padding: 7px 15px;
    font-weight: normal;
    font-size: 14px;
    text-transform: none;
    background: #33333;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 3px;
}
