@import '~app.global.css';

.dashboardButton {
    font-family: 'Maven Pro';
    font-weight: bold;
    padding: 10px 25px;
    width: 175px;
    background: var(--primary-color);
    color: var(--text-background-color);
    font-size: 13px;
    margin-top: 15px;
    text-align: center;
    border-radius: 5px;
}

.dashboardButton:hover {
    background: var(--accent-color);
    cursor: pointer;
    color: #111111;
}
