[submodule "base/setup-scripts"]
	path = base/setup-scripts
	url = https://github.com/fractalcomputers/setup-scripts.git
[submodule "base/protocol"]
	path = protocol
	url = https://github.com/fractalcomputers/protocol
