[submodule "base/protocol"]
	path = base/protocol
	url = https://github.com/fractalcomputers/protocol
[submodule "creative/figma/figma-font-bindings"]
	path = creative/figma/figma-font-bindings
	url = https://github.com/fractalcomputers/figma-font-bindings
