@import '~app.global.css';

.launcherWrapper {
    width: 100vw;
    height: 100vh;
    position: relative;
    background: var(--text-background-color);
}

.loadingWrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.loadingText {
    color: var(--primary-text-color);
    font-weight: bold;
    margin-top: 30px;
}

.greenButton {
    border: solid 1px var(--accent-color);
    background: var(--accent-color);
    color: black;
    border-radius: 2px;
    padding: 12px 50px;
    text-transform: uppercase;
    letter-spacing: 1.6px;
    cursor: pointer;
    transition-duration: 0.5s;
}

.greenButton:hover {
    border: solid 1px var(--primary-color);
    background: var(--primary-color);
    color: white;
}
