/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
/* @import "~bootstrap/dist/css/bootstrap.min.css"; */

@font-face {
    font-family: "Maven Pro";
    src: url("assets/fonts/MavenPro-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Maven Pro Medium";
    src: url("assets/fonts/MavenPro-Medium.ttf");
    font-style: bold;
}

@font-face {
    font-family: "Maven Pro SemiBold";
    src: url("assets/fonts/MavenPro-SemiBold.ttf");
    font-style: normal;
}

@font-face {
    font-family: "Maven Pro Bold";
    src: url("assets/fonts/MavenPro-Bold.ttf");
    font-style: normal;
}

:root {
    --background-color: #060217;
    --primary-color: #4f35de;
    --accent-color: #00ffa2;
    --primary-text-color: #111111;
    --light-text-color: #555555;
    --text-background-color: #ffffff;
    --light-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    --heavy-box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
    --bottom-layer: 0;
    --first-layer: 1;
    --second-layer: 2;
    --top-layer: 9999;
}

body {
    position: relative;
    color: black;
    padding: 0px;
    margin: 0px;
    background-color: white;
    font-family: "Maven Pro";
    overflow-y: hidden;
    letter-spacing: 1.1px !important;
}

div {
    outline: none;
    letter-spacing: 1.1px !important;
}

h2 {
    margin: 0;
    font-size: 2.25rem;
    font-weight: bold;
    letter-spacing: -0.025em;
    color: black;
}

p {
    font-size: 24px;
}

li {
    list-style: none;
}

button {
    border: none;
    background: none;
    outline: none !important;
}

a {
    color: black;
    opacity: 0.75;
    text-decoration: none;
}

a:hover {
    opacity: 1;
    text-decoration: none;
    cursor: pointer;
}

.sc-htpNat svg > path {
    fill: #333333;
    z-index: 9999;
    stroke-width: 0.5px;
}

.sc-bdVaJa {
    z-index: 9999;
    background: rgba(0, 0, 0, 0);
    position: absolute;
}

.loadingWrapper path {
    stroke-width: 1 !important;
}

.macTitleBar {
    -webkit-app-region: drag;
    -webkit-user-select: none;
    width: 100%;
    height: 28px;
    z-index: 9999;
    position: absolute;
}

.removeDrag {
    -webkit-app-region: no-drag;
}
