# Starts the Whist server protocol and the symlinked application. Runs as root.
[Unit]
Description=Whist Protocol
After=whist-display.service whist-audio.service
Requires=whist-display.service whist-audio.service

[Service]
WorkingDirectory=/usr/share/whist
Type=exec
Environment=DISPLAY=:10
Environment=XAUTHORITY=/home/whist/.Xauthority
ExecStart=/usr/share/whist/run-whist-server.sh
# The paths below will be modified by whist-startup.sh to include the session id
# on the path, as following:
# Standard{Output,Error}=file:/var/log/whist/<session_id>/protocol-{err,out}.log
StandardOutput=file:/var/log/whist/protocol-out.log
StandardError=file:/var/log/whist/protocol-err.log

[Install]
WantedBy=default.target
