# Starts the Whist server protocol and the symlinked application. Runs as root.
[Unit]
Description=Whist Protocol
After=whist-display.service whist-audio.service
Requires=whist-display.service whist-audio.service

[Service]
WorkingDirectory=/usr/share/whist
Type=exec
Environment=DISPLAY=:10
Environment=XAUTHORITY=/home/whist/.Xauthority
ExecStart=/usr/share/whist/run-whist-server.sh
# Standard{Output,Error}=file:/var/log/whist/main-{err,out}.log
StandardOutput=file:/var/log/whist/main-out.log
StandardError=file:/var/log/whist/main-err.log

[Install]
WantedBy=default.target
