.priceBox-container {
    padding: 30px 30px 15px 30px;
    margin-bottom: 20px;
    width: 100%;
    position: relative;
    height: 100%;
    border: none;
    border-radius: 5px;
}

.priceBox-name {
    font-size: 22px;
    font-weight: bold;
}

.priceBox-checkbox {
    width: 15px;
    height: 15px;
    border-radius: 8px;
    position: absolute;
    top: 37px;
    right: 30px;
}

.priceBox-subText {
    font-size: 12px;
}

.priceBox-priceContainer {
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.priceBox-dollarSign {
    display: inline;
    position: relative;
    margin-right: 5px;
    top: 14px;
}

.priceBox-price {
    display: inline;
    position: relative;
    font-size: 45px;
    font-weight: 500;
}

.priceBox-mo {
    display: inline;
    position: relative;
    margin-left: 8px;
    top: 34px;
    font-size: 14px;
}

.priceBox-details {
    display: block;
    position: relative;
    bottom: 5px;
    font-size: 14px;
    text-align: left;
}
