@import '~app.global.css';

.loginText {
    color: var(--primary-text-color);
    margin-bottom: 35px;
    letter-spacing: 1.4px;
    line-height: 1.5;
}

.devInput {
    width: 400px;
    border: none;
    box-shadow: none;
    margin: auto;
    background: rgba(237, 240, 247, 0.75);
    padding: 5px 20px;
    border-radius: 5px;
    outline: none;
}
