.animatedLogo {
    stroke-dasharray: 125;
    stroke-dashoffset: 125;
    animation: logo 4s linear alternate infinite;
}

.animationWrapper {
    position: relative;
    background-color: rgba(255, 255, 255, 0.2);
    display: inline-block;
    padding: 20px;
}

@keyframes logo {
    from {
        stroke-dashoffset: 125;
    }
    to {
        stroke-dashoffset: 0;
    }
}
