# IDE/Editor Files
*.iml
.idea/
*.pyc
*.cbp
*.swp
.vs/
.vscode/
.vscode/settings.json
.idea/

# Vim Tags
tags
**/tags
**/tags.lock
**/tags.temp

# macOS
.DS_Store

# Sentry
sentry-native

# Cmake
build/
build-*/
