# general files
*.o
*.obj
*.iml
*.pyc
**/Debug/
**/Release/
.vs/
.vscode/
.vscode/settings.json
.idea/
*.pdb
*.ilk
*.user
**/log.txt
**/log_prev.txt
.DS_Store

# fractal files
version
**/build32
**/build64
desktop/log.txt
server/log.txt

# CMake
*.cmake
*.make
*.marks
*.internal
*.includecache
cmake-build-*
CMakeFiles/
build/
CMakeCache.txt