@import "/app.global.css";

.alert {
    width: 100%;
    font-size: 14px;
    border-radius: 5px;
    border: none;
    padding: 15px 20px;
    margin-bottom: 0px;
}

.sliderWrapper {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    padding: 10px 0px;
}

.text {
    font-size: 12px;
    color: var(--light-text-color);
    margin-top: 7px;
    margin-left: 28px;
    line-height: 1.4;
}

.faIcon {
    color: var(--primary-text-color);
    font-size: 14px;
    margin-right: 12px;
    position: relative;
}

.title {
    font-family: "Maven Pro Medium";
    letter-spacing: 1.1px;
    font-size: 25px;
}

.subtitle {
    font-size: 12px;
    color: var(--light-text-color);
    margin-top: 10px;
    line-height: 1.4;
}

.header {
    color: var(--primary-text-color);
    font-size: 15px;
    font-weight: bold;
}

.sliderPopup {
    font-size: 11px;
    color: var(--light-text-color);
    float: right;
    text-align: right;
}

.row {
    margin: 20px 0 0 0 !important;
    display: flex;
    flex-direction: row;
}

.cloudStorageIcon {
    height: 14px;
    margin-right: 12px;
}

.tosLink {
    color: var(--primary-color);
    padding: 0px;
}

.connectButton {
    padding: 10px 25px;
    width: 125px;
    background: var(--primary-color);
    color: white;
    font-size: 13px;
    float: right;
    text-align: center;
    border-radius: 5px;
    letter-spacing: 1px;
}

.connectButton:hover {
    background: var(--accent-color);
    color: var(--primary-text-color);
}
