@import '~app.global.css';

.loginText {
    color: var(--primary-text-color);
    margin-bottom: 35px;
    font-size: 80px;
    text-align: left;
    display: flex;
    width: 600px;
    font-weight: bold;
}

.transparentButton {
    border: solid 1px var(--primary-color);
    background: var(--primary-color);
    color: var(--text-background-color);
    border-radius: 2px;
    font-weight: bold;
    padding: 15px 60px;
    text-transform: uppercase;
    letter-spacing: 1.6px;
    cursor: pointer;
    margin-top: 40px;
    transition-duration: 0.5s;
    font-size: 16px;
}

.transparentButton:hover {
    border: solid 1px var(--accent-color);
    background: var(--accent-color);
    color: black;
}
