<!DOCTYPE html>
<html>
<head>
</head>
<body>
	<div style = "padding: 50px; border-radius: 5px; border: solid 0.5px #DDDDDD; color: #111111">
		<div style = "text-align: center; margin-bottom: 30px; color: #111111">
			<h1>Your Account Has Been Credited</h1>
		</div>
		<p style = "color: #111111">
			Good news!
		</p>
		<p style = "color: #111111">
			Someone signed up for a Fractal cloud PC with your promo code, which means that your account was just credited
			with an additional free month ($35.00). If you already have an active plan, your discount was automatically applied,
			and your card won't be charged at the next billing cycle. If you don't have an active plan, you will
			receive an additional, free month when you create a plan.
		</p>
		<p style = "color: #111111">
			Promo codes are unlimited, so the more friends that sign up, the more free months you'll receive. Enjoy
			your cloud PC, and thank you for sharing Fractal with your friends!
		</p>
		<p style = "color: #111111">
			If you have any questions or feedback, you can reach out to support@fractalcomputers.com.
		</p>
		<br/>
		<p style = "color: #111111">
			Sincerely, <br/>
			The Fractal Team
		<p>
	</div>
</body>
</html>
