<!DOCTYPE html>
<html>
<head>
</head>
<body>
	<div style = "padding: 50px; border-radius: 5px; border: solid 0.5px #DDDDDD; color: #111111">
		<div style = "text-align: center; margin-bottom: 30px; color: #111111">
			<h1>Your Cloud PC Is Ready</h1>
		</div>
		<p style = "color: #111111">
			Hi!
		</p>
		<p style = "color: #111111">
			Thank you for creating a Fractal cloud PC. Our engineers have just finished setting everything up, and your cloud PC is ready to use.
		</p>
		<p style = "color: #111111">
			To access your cloud PC, simply download the Fractal desktop application on either Windows, macOS or Linux Ubuntu. The download link can be found on the homepage of our <a href = "https://www.fractalcomputers.com" style = "text-decoration: none">website</a> or on the dashboard of your account. Once connected, you can disconnect by pressing <strong>Ctrl-Alt-F4</strong> on Windows, <strong>Ctrl-Alt-Fn-F4</strong> on Mac, or the "Exit Fractal" button at the top of the Start Menu/on the desktop.
		</p>
		<p style = "color: #111111">
			Your cloud PC is free until {{date}}. You can get more free months by referring a friend; for every person that creates a cloud PC with your code ({{code}}), both you and your friend receive an additional free month. Please note that your cloud PC is located in the {{location}} United States; we would highly recommend accessing it from there for the best experience.
		</p>
		<p style = "color: #111111">
			More information about your subscription and referral code can be found on our website under your account page. If you have any questions, please reach out to support@fractalcomputers.com. Have a great day, and enjoy your Fractal cloud PC!
		</p>
		<br/>
		<p style = "color: #111111">
			Sincerely, <br/>
			The Fractal Team
		<p>
	</div>
</body>
</html>
