<!DOCTYPE html>
<html>
<head>
</head>
<body>
	<div style = "padding: 50px; border-radius: 5px; border: solid 0.5px #DDDDDD; color: #111111">
		<div style = "text-align: center; margin-bottom: 30px; color: #111111">
			<h1>Your Free Trial has Started!</h1>
		</div>
		<p style = "color: #111111">
			Hello!
		</p>
		<p style = "color: #111111">
			Thank you for creating a cloud PC. My name is Nick, one of the engineers at Fractal. I'm emailing you to let you know that your seven-day free trial has started.
		</p>
		<p style = "color: #111111">
			To run your cloud PC, simply download our Windows, macOS or Linux Ubuntu app from our <a href = "https://www.fractalcomputers.com" style = "text-decoration: none"> website</a>. Once launched, your cloud PC is yours to use as you wish, and fully private from anyone else.
		</p>
		<p style = "color: #111111">
			We also have a rewards program to encourage you to tell your friends about Fractal. Your referral code is <strong>{{code}}</strong>; for every person that creates a cloud PC with your code, your account receives an
			additional free month.
		</p>
		<p style = "color: #111111">
			Thank you for subscribing! If you have any questions or feedback, you can reach out to support@fractalcomputers.com, or to my personal email, pipitone@fractalcomputers.com. Have a great day!
		</p>
		<br/>
		<p style = "color: #111111">
			Sincerely, <br/>
			Nick
		<p>
	</div>
</body>
</html>
