<!DOCTYPE html>
<html>
<head>
</head>
<body>
	<div style = "color: #111111">
		<p style = "color: #111111">
			Hey it's me--I'm sending you this email using Fractal's email messaging tool.
		</p>
		<p style = "color: #111111">
			Fractal makes state-of-the-art cloud PCs, which give you access to massive amounts of computational power by streaming GPU-powered computers to any of your own computers/laptops. They're currently running a "refer a friend" program--would you mind checking them out and entering my promo code, so that both of us can receive a free month of cloud PC power?
		</p>
		<p style = "color: #111111">
			If you're interested, just visit their <a href = "https://www.fractalcomputers.com" style = "text-decoration: none">website</a>, create an account, and enter the code <strong>{{code}}</strong> when you
			create your cloud PC. It takes less than a minute and I think you'd find it super useful.
		</p>
		<p style = "color: #111111">
			Thanks!
		</p>
		<p style = "margin-top: 25px; color: #555555">
			(This email was sent by Fractal on behalf of {{user}}, with the sender's permission, using Fractal's messaging tool.)
		</p>
	</div>
</body>
</html>
