<!DOCTYPE html>
<html>
  <head> </head>

  <body>
    <div
      style="
        padding: 50px;
        border-radius: 5px;
        border: solid 0.5px #dddddd;
        color: #111111;
      "
    >
      <div style="text-align: center; margin-bottom: 30px; color: #111111;">
        <h1>We failed to process your payment</h1>
      </div>
      <p style="color: #111111;">
        Hi there,
      </p>
      <p style="color: #111111;">
        We wanted to let you know that unfortunately a payment attempt on your
        account has failed. Please verify with your financial provider and renew
        your payment.
      </p>
      <p style="color: #111111;">
        If payment has not been resolved within 7 days, your cloud computer will
        automatically be deleted.
      </p>
      <p style="color: #111111;">
        If you have any questions or feedback, you can reach out to
        support@fractalcomputers.com.
      </p>
      <br />
      <p style="color: #111111;">
        Sincerely, <br />
        The Fractal Team
      </p>

      <p></p>
    </div>
  </body>
</html>
