<!DOCTYPE html>
<html>
  <head> </head>
  <body>
    <div
      style="
        padding: 50px;
        border-radius: 5px;
        border: solid 0.5px #dddddd;
        color: #111111;
      "
    >
      <div style="text-align: center; margin-bottom: 30px; color: #111111">
        <h1>You're on the Waitlist!</h1>
      </div>
      <p style="color: #111111">Hi {{name}},</p>
      <p style="color: #111111">
        You've successfully joined the waitlist to try Fractal! Fractal uses
        cloud streaming to run creative apps on your laptop without slowing them
        down. Imagine full power Blender, VSCode, or Figma on any device. The
        next onboarding is on {{date}}, when the top one hundred people on the
        waitlist will get to try Fractal with 1:1 onboarding.
      </p>
      <p style="color: #111111">
        In order to earn points and move up the waitlist, you can sign up for a
        Fractal account, refer a friend, or use your daily clicks. Check out the
        leaderboard to see how you're doing!
      </p>
      <p style="color: #111111">
        If you have any questions, please reach out to
        support@fractalcomputers.com.
      </p>
      <br />
      <p style="color: #111111">
        Sincerely, <br />
        The Fractal Team
      </p>

      <p></p>
    </div>
  </body>
</html>
