<!DOCTYPE html>
<html>
<head>
	<style>
		button:hover {
			cursor: pointer;
		}
	</style>
</head>
<body>
	<div style = "padding: 50px; border-radius: 5px; border: solid 0.5px #DDDDDD; color: #111111; text-align: center">
		<div style = "text-align: center; margin-bottom: 30px; color: #111111">
			<h1>Please Verify Your Email</h1>
		</div>
		<p style = "color: #111111; max-width: 700px; margin: auto">
			Thank you for joining Fractal! Please click button below to verify your email and access your full account. Once verified, you can log into your online account, where you can create a cloud PC, adjust your settings, and refer friends through our rewards program.
		</p>
		<a href = {{url}} style = "text-decoration: none">
			<button style = "background: linear-gradient(258.54deg, #5ec3eb 0%, #d023eb 100%); margin-top: 30px; padding: 10px 35px; border: none; color: white; font-weight: bold; box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.45); font-size: 14px; min-width: 200px; height: 50px; border-radius: 5px">
				VERIFY EMAIL
			</button>
		</a>
	</div>
</body>
</html>
