<!DOCTYPE html>
<html>
  <head> </head>
  <body>
    <div
      style="
        margin: auto;
        color: #111111;
        padding: 10px 20px;
        max-width: 480px;
        background: #fcfcfc;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);
      "
    >
      <h1 style="color: #111111;">Need to Reset?</h1>
      <p style="color: #111111;">
        No problem! Just click the button below and you will be on your way. If
        you did not make this request, please ignore this email.
      </p>
      <a
        href="{{url}}/reset?{{token}}"
        style="text-decoration: none; color: white; cursor: pointer;"
        ><button
          style="
            cursor: pointer;
            width: 100%;
            border: none;
            background: linear-gradient(258.54deg, #4b89e5 0%, #2bf7de 100%);
            border-radius: 8px;
            margin-top: 30px;
            padding: 10px;
            color: white !important;
            font-weight: bold;
          "
        >
          RESET PASSWORD
        </button>
      </a>
    </div>
  </body>
</html>
