<!DOCTYPE html>
<html>
<head>
</head>
<body>
	<div style = "padding: 50px; border-radius: 5px; border: solid 0.5px #DDDDDD; color: #111111">
		<div style = "text-align: center; margin-bottom: 30px; color: #111111">
			<h1>Your Free Trial has Started!</h1>
		</div>
		<p style = "color: #111111">
			Hello!
		</p>
		<p style = "color: #111111">
			Thank you for signing up for your Fractal 7-day free trial.
		</p>
		<p style = "color: #111111">
			To start using Fractal, simply download our Windows, macOS or Linux Ubuntu app from our <a href = "https://www.tryfractal.com" style = "text-decoration: none"> website</a>, sign in, and choose your application(s)!
		</p>
		<p style = "color: #111111">
			We also have a rewards program to encourage you to tell your friends about Fractal. Your referral code is <strong>{{code}}</strong>; for every person that signs up for Fractal with your code, your account receives an
			additional free month.
		</p>
		<p style = "color: #111111">
			Thank you for subscribing! If you have any questions or feedback, you can reach out to support@tryfractal.com, or tweet us at <a href="https://www.twitter.com/tryfractal">@tryfractal</a>. Have a great day!
		</p>
		<br/>
		<p style = "color: #111111">
			Sincerely, <br/>
			The Fractal Team
		<p>
	</div>
</body>
</html>
