<!DOCTYPE html>
<html>
<head>
</head>
<body>
	<div style = "color: #111111">
		<p style = "color: #111111">
			Hey, it's me -- I'm sending you this email using Fractal's email messaging tool.
		</p>
		<p style = "color: #111111">
			Fractal enables you to use any applicaton on any device at full performance, regardless of your device's power, 
			by streaming them from the cloud. No more Google Chrome crashing your MacBook Air, or Figma slowing down your device!
			They're currently running a "refer a friend" program -- if you sign up with my promo code we'll both receive a free month of Fractal!
		</p>
		<p style = "color: #111111">
			Just visit their <a href = "https://www.tryfractal.com" style = "text-decoration: none">website</a>, create an account, and enter the code <strong>{{code}}</strong> when you
			sign up for a paid plan. It takes less than a minute and it'll change the way you use applications forever!
		</p>
		<p style = "color: #111111">
			Thanks!
		</p>
		<p style = "margin-top: 25px; color: #555555">
			(This email was sent by Fractal on behalf of {{user}}, with the sender's permission, using Fractal's messaging tool.)
		</p>
	</div>
</body>
</html>
