<!DOCTYPE html>
<html>
  <head>
    <style>
      button:hover {
        cursor: pointer;
      }
    </style>
  </head>
  <body>
    <div
      style="
        padding: 50px;
        border-radius: 5px;
        border: solid 0.5px #dddddd;
        color: #111111;
      "
    >
      <div style="text-align: center; margin-bottom: 30px; color: #111111;">
        <h1>Welcome to Fractal</h1>
      </div>
      <p style="color: #111111;">
        My name is Phil, and I'm one of the developers at Fractal. I'd like to
        thank you for creating an account with us.
      </p>
      <p style="color: #111111;">
        Fractal's mission is simple yet daring: to democratize computing power,
        regardless of your hardware. We envision a world where people can render
        intricate scenes on their Macbook Airs; play demanding games on their
        Chromebooks; code via full IDEs on their tablets. At Fractal, we build
        amazing tech to create this world.
      </p>
      <p style="color: #111111;">
        If you ever want to reach us, please email us at
        support@fractalcomputers.com, and we'll respond quickly. If you want to
        try out our cloud PCs, you can create a cloud computer
        <a href="https://www.fractalcomputers.com/dashboard">here</a> with a
        seven-day free trial.
      </p>
      <p style="color: #111111;">
        We also have a rewards program; for every friend that creates a cloud PC
        using your referral code,
        <strong>{{code}}</strong>, you'll receive an extra free month.
      </p>
      <p style="color: #111111;">
        We've been blown away by the amazing projects Fractal has been used for
        in the past. If you create something you're proud of using Fractal (this
        could be graphical art, a computer program, or anything else!), you
        should email us at hello@fractalcomputers.com or tweet us
        @fractalcomputer. We'd love to showcase your work and link to your
        personal portfolio or website.
      </p>
      <p style="color: #111111;">
        Thank you, and have a great day!
      </p>
      <br />
      <p style="color: #111111;">
        Sincerely, <br />
        Phil
      </p>

      <p></p>
    </div>
  </body>
</html>
