<!DOCTYPE html>
<html>
  <head> </head>
  <body>
    <div
      style="
        padding: 50px;
        border-radius: 5px;
        border: solid 0.5px #dddddd;
        color: #111111;
      "
    >
      <p style="color: #111111">
        Hi there! I'm sending you this email using Fractal's email messaging
        tool.
      </p>
      <p style="color: #111111">
        Fractal uses cloud streaming to run creative and productivity apps on your laptop without
        slowing them down. Imagine full power Blender, VS Code, Google Chrome or Figma on any
        device. I've joined their waitlist to get early access to try Fractal,
        and I think you should too! If you join the waitlist through my
        <a href="https://tryfractal.com/{{code}}" style="text-decoration: none"
          >link</a
        >, we can both get 300 free points and move up the waitlist. Check it out, I think
        you'll find it really useful!
      </p>
      <p style="color: #111111">Thanks!</p>
      <p style="margin-top: 25px; color: #555555">
        (This email was sent by Fractal on behalf of {{email}}, with the
        sender's permission, using Fractal's messaging tool.)
      </p>
    </div>
  </body>
</html>
