<!DOCTYPE html>
<html>
  <head> </head>

  <body>
    <div
      style="
        padding: 50px;
        border-radius: 5px;
        border: solid 0.5px #dddddd;
        color: #111111;
      "
    >
      <div style="text-align: center; margin-bottom: 30px; color: #111111;">
        <h1>Your plan change was successful!</h1>
      </div>
      <p style="color: #111111;">
        Hi there,
      </p>
      <p style="color: #111111;">
        We wanted to let you know that your request to change your plan has been
        successful. You are now on the <strong>{{plan}}</strong> plan. The
        remaining days on your previous plan were automatically credited towards
        your new plan, which goes into effect immediately.
      </p>
      <p style="color: #111111;">
        If using a daily or hourly plan, your hourly charges have been updated
        automatically.
      </p>
      <p style="color: #111111;">
        If you have any questions or feedback, you can reach out to
        support@fractalcomputers.com.
      </p>
      <br />
      <p style="color: #111111;">
        Sincerely, <br />
        The Fractal Team
      </p>

      <p></p>
    </div>
  </body>
</html>
