<!DOCTYPE html>
<html>
  <head> </head>

  <body>
    <div
      style="
        padding: 50px;
        border-radius: 5px;
        border: solid 0.5px #dddddd;
        color: #111111;
      "
    >
      <div style="text-align: center; margin-bottom: 30px; color: #111111;">
        <h1>Your Free Trial is About to End</h1>
      </div>
      <p style="color: #111111;">
        Hi there,
      </p>
      <p style="color: #111111;">
        We wanted to let you know that your free trial is about to end. You have
        received this email because your trial will automatically end in three
        days. To keep your cloud computer, please log on to the dashboard and
        sign up for a paid plan. Otherwise, your cloud pc will be deleted
        automatically 7 days after your trial ends.
      </p>
      <p style="color: #111111;">
        If you have any questions or feedback, you can reach out to
        support@fractalcomputers.com.
      </p>
      <br />
      <p style="color: #111111;">
        Sincerely, <br />
        The Fractal Team
      </p>

      <p></p>
    </div>
  </body>
</html>
