@import '/app.global.css';

.welcomeBack {
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 5px;
    color: var(--primary-text-color);
}

.loginButton {
    font-family: 'Maven Pro Medium';
    border: solid 0.8px #cccccc;
    background: white;
    padding: 12px 30px;
    color: var(--primary-text-color);
    font-size: 15px;
    outline: none !important;
    width: 350px;
}

.loginButton:hover {
    background: var(--accent-color);
}
