# VS Code
.vscode

# desktop
desktop/.fractal-protocol
desktop/.protocol
desktop/fractal-protocol
desktop/protocol
desktop/fractal-protocol/desktop
desktop/protocol/desktop
desktop/clipboard/
desktop/release
desktop/log.txt
desktop/app/main.prod.js
desktop/app/main.prod.js.LICENSE.txt
desktop/app/main.prod.js.map
desktop/app/renderer.prod.js
desktop/app/renderer.prod.js.map
desktop/app/style.css
desktop/app/style.css.map
desktop/package-lock.json
desktop/app/package-lock.json
desktop/node_modules
desktop/app/node_modules
desktop/dist
desktop/dll
desktop/main.js
desktop/main.js.map
desktop/.idea
desktop/npm-debug.log.*
desktop/*.css.d.ts
desktop/*.sass.d.ts
desktop/*.scss.d.ts
desktop/connection_id.txt
loading/
