.animatedLine {
    stroke-dasharray: 700;
    stroke-dashoffset: 0;
    animation: dash 3s linear;
}

.animatedDot {
    animation: appear 3s;
}

.animatedDotB {
    animation: appearB 3s;
}

@keyframes dash {
    from {
        stroke-dashoffset: 700;
    }
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    80% {
        opacity: 0;
    }
    81% {
        opacity: 1;
    }
    99% {
        opacity: 1;
    }
}

@keyframes appearB {
    0% {
        opacity: 0;
    }
    94% {
        opacity: 0;
    }
    95% {
        opacity: 1;
    }
    99% {
        opacity: 1;
    }
}