flake8==3.9.1
moto==2.2.0
mypy==0.910
pylint==2.10.2
pytest==6.2.4
pytest-cov==2.12.1
pytest-dotenv==0.5.2
pytest-flask==1.2.0
Sphinx==4.2.0
types-Flask==1.1.1
types-Jinja2==2.11.2
types-redis==3.5.4
types-requests==2.25.0
git+https://github.com/jeancochrane/pytest-flask-sqlalchemy@ea5c5ee935ed2d9cdc56061c243a6004d7c8fe7e
