Package: libinput-whist
Version: 1.15.5-1
Section: x11
Priority: optional
Architecture: all
Depends: libevdev2, libmtdev1, libwacom9
Provides: libinput10 (= 9.99.9), libinput-bin (= 9.99.9), libinput-tools (= 9.99.9), libinput (= 9.99.9)
Maintainer: Whist (developers@whist.com)
Description: Whist builds an up-to-date release of
  this package.
