:root {
  --accent-border-color: #69f5b2;
  --dark-border-color: #aaaaaa;
  --light-border-color: #dfdfdf;

  --alert-background-color: #cf1720;
  --accent-background-color: #69f5b2;
  --primary-background-color: #553de9;
  --white-background-color: #ffffff;
  --light-background-color: #f6f9ff;
  --dark-background-color: #bbbbbb;
  --black-background-color: #000000;

  --accent-text-color: #69f5b2;
  --white-text-color: #ffffff;
  --light-text-color: #efefef;
  --dark-text-color: #555555;
  --black-text-color: #000000;
}

::-webkit-scrollbar {
  display: none;
}

.draggable {
  -webkit-app-region: drag;
}

.nondraggable {
  -webkit-user-drag: none;
  user-drag: none;
}

@font-face {
  font-family: "Josefin-Sans";
  src: url("../assets/fonts/JosefinSans-Regular.ttf");
  font-weight: normal; /* normal == 400 */
  font-style: normal;
}

@font-face {
  font-family: "Josefin-Sans";
  src: url("../assets/fonts/JosefinSans-SemiBold.ttf");
  font-weight: bold; /* bold == 700 */
  font-style: bold;
}

@font-face {
  font-family: "Josefin-Sans";
  src: url("../assets/fonts/JosefinSans-Light.ttf");
  font-weight: lighter;
  font-style: lighter;
}

.bg-gradient {
  background: linear-gradient(-45deg, #71d9ff, #0092ff);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#hubspot-conversations-inline-iframe {
  width: 384px;
  height: 508px;
  border: none;
}
