@import '~app.global.css';

.loginText {
    color: var(--primary-text-color);
    margin-bottom: 35px;
}

.transparentButton {
    border: solid 1px var(--primary-color);
    background: var(--primary-color);
    color: var(--text-background-color);
    border-radius: 2px;
    font-weight: bold;
    padding: 11px 50px;
    text-transform: uppercase;
    letter-spacing: 1.6px;
    cursor: pointer;
}

.transparentButton:hover {
    border: solid 1px var(--accent-color);
    background: var(--accent-color);
    color: black;
}
