@import '~app.global.css';

.loadingWrapper {
    width: 100vw;
    height: 100vh;
    position: relative;
    background: var(--text-background-color);
}

.loadingCentered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.loadingText {
    color: black;
    font-weight: bold;
    margin-top: 0px;
}

.lightIcon {
    -webkit-text-stroke: 1px red;
    stroke-width: 1px;
}
