@import "~styles/global.module.css";

.investorImage {
    background: var(--white-background-color);
    padding: 15px;
    text-align: center;
    height: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.investorImage:hover {
    cursor: pointer;
}
