@import "~styles/global.module.css";

.applicationForm ::placeholder {
    color: var(--primary-background-color);
}

.applicationButton {
    font-weight: bold;
    border: none;
    background: var(--primary-background-color);
    padding: 15px 50px;
    font-size: 18px;
    outline: none !important;
    border: none;
    border-radius: 0px;
}
