.auth-wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 350px;
    margin: auto;
    margin-top: 200px;
}

.google-button {
    font-family: "Maven Pro" !important;
    width: 100%;
    border: none;
    outline: none;
    background: rgba(66, 133, 244, 0.9);
    font-weight: bold;
    color: white;
    padding: 20px 40px;
    display: flex;
    justify-content: center;
    font-size: 16px;
}

.google-button:hover {
    cursor: pointer;
}

.signout-button {
    font-family: "Maven Pro" !important;
    width: 350px;
    margin-top: 20px;
    border: none;
    outline: none;
    padding: 20px;
    border-radius: 5px;
    background: #f4f4f4;
    font-weight: bold;
    text-transform: uppercase;
}

.signout-button:hover {
    cursor: pointer;
}

.input-form,
.input-form:focus {
    width: 100%;
    background-color: #f4f4f4 !important;
    border: none !important;
    padding: 35px 20px;
    outline: none !important;
}
