@import "~styles/global.module.css";

.authContainer {
    width: 400px;
    margin: auto;
    margin-top: 70px;
}

.authTitle {
    color: var(--black-text-color);
    text-align: center;
    font-size: 32px;
    margin-bottom: 40px;
}

.googleButton {
    font-family: --font-family-primary;
    width: 100%;
    border: none;
    outline: none;
    background: rgba(66, 133, 244, 0.9);
    color: var(--white-text-color);
    padding: 15px 40px;
    display: flex;
    justify-content: center;
    font-size: 16px;
}

.googleButton:hover {
    cursor: pointer;
}

.purpleButton {
    width: 100%;
    margin-top: 20px;
    border: none;
    outline: none;
    padding: 15px 0;
    background: var(--primary-background-color);
    color: var(--white-text-color);
    font-size: 16px;
}

.line {
    height: 1px;
    width: 100%;
    margin: 30px 0;
    background: var(--light-background-color);
}

@media only screen and (max-width: 576px) {
    .authContainer {
        width: 100%;
        margin-top: 40px;
    }

    .authTitle {
        font-size: 25px;
    }
}
