@import url("https://fonts.googleapis.com/css?family=Maven+Pro|Kalam&display=swap");

body {
    overflow-x: hidden;
}

body, div, html, input, Button {
    font-family: "Maven Pro" !important;
}

select {
    width: 200px;
    background: #1C2A45;
    color: #CCCCCC;
    border-radius: 5px;
    padding: 20px 20px;
    border: none;
    outline: none;
    font-family: "Maven Pro" !important;
}

input {
    color: white;
}

option, ::placeholder {
    font-family: "Maven Pro" !important;
}

option {
    color: #000000;
}

::placeholder {
    color: #CCCCCC
}

option {
    background: white;
}

.waitlist-form {
    border-radius: 5px;
    background-color: #1C2A45;
    border: none;
    padding: 20px 20px;
    outline: none;
    margin: 0px;
}

.waitlist-button {
    width: 100%;
    border: none;
    outline: none;
    padding: 20px;
    border-radius: 5px;
    background: #00D4FF !important;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

.waitlist-button:hover {
    cursor: pointer;
}

.banner-background {
    width: 100%;
    background: #0F1726;
}

.white-background-curved {
    border-top-left-radius: 50% 40%;
    border-top-right-radius: 50% 40%;
}

.logo {
    font-weight: bold;
    color: white;
    font-size: 20px;
    letter-spacing: 6px;
    margin-left: 20px;
}

