.section-title {
    font-size: 14px;
    font-weight: bold;
    margin: 30px 0 15px 0;
}

.section-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.save-button {
    width: 47%;
    margin-top: 20px;
    background: #3930b8;
    border: none;
    color: white;
    font-size: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
    outline: none !important;
    letter-spacing: 1.1px;
}

.add {
    font-size: 14px;
    color: #4285ff;
}

.add:hover,
.edit:hover {
    cursor: pointer;
}

.MyCardElement {
    width: 100%;
    font-family: "Maven Pro";
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
    padding: 15px 20px;
    border: solid 0.8px #cccccc;
}

.MyCardElementWarning {
    width: 100%;
    font-family: "Maven Pro";
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
    padding: 15px 20px;
    border: solid 1px #fc3d03;
}

.MyCardElement--focus,
.MyCardElementWarning--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
}

.MyCardElement--invalid,
.MyCardElementWarning--invalid {
    border-color: #fa755a;
}

.MyCardElement--webkit-autofill,
.MyCardElementWarning--webkit-autofill {
    background-color: #fefde5 !important;
}

.card-image {
    height: 17px;
    margin-right: 10px;
}

::placeholder {
    color: #cccccc;
    font-size: 14px;
}

.bold {
    font-weight: 500;
}
