@import "~styles/global.module.css";

.sectionTitle {
    font-size: 14px;
    font-weight: bold;
    margin: 0px 0 15px 0;
}

.sectionInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.saveButton {
    width: 47%;
    margin-top: 20px;
    background: var(--primary-background-color);
    border: none;
    color: var(--white-text-color);
    font-size: 16px;
    padding-top: 6px;
    padding-bottom: 6px;
    outline: none !important;
    letter-spacing: 1.1px;
    border-radius: 5px;
}

.dashedBox {
    font-size: 14px;
    color: var(--black-text-color);
    width: 100%;
    padding: 10px 20px;
    border: dashed 0.5px var(--primary-background-color);
    border-radius: 5px;
    background: var(--light-background-color);
}

.change {
    font-size: 14px;
    color: var(--primary-background-color);
}

.add:hover,
.change:hover {
    cursor: pointer;
    font-weight: bold;
}

.MyCardElement {
    width: 100%;
    font-family: --font-family-primary;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
    padding: 5px 20px;
    background: #dee8fa;
    border-radius: 5px;
}

.MyCardElementWarning {
    width: 100%;
    font-family: --font-family-secondary;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
    padding: 15px 20px;
    border: solid 1px var(--alert-background-color);
}

.MyCardElement--focus,
.MyCardElementWarning--focus {
    box-shadow: 0 1px 3px 0 var(--light-border-color);
}

.MyCardElement--invalid,
.MyCardElementWarning--invalid {
    border-color: var(--alert-background-color);
}

.MyCardElement--webkit-autofill,
.MyCardElementWarning--webkit-autofill {
    background-color: var(--light-background-color) !important;
}

::placeholder {
    color: var(--dark-border-color);
    font-size: 14px;
}

.bold {
    font-weight: 500;
}

.cancel {
    color: var(--alert-background-color);
    border: solid 1px var(--alert-background-color);
    padding: 5px 25px;
    cursor: pointer;
    font-size: 13px;
    border-radius: 2px;
}
