@import url("https://fonts.googleapis.com/css?family=Maven+Pro|Kalam&display=swap");

body {
    overflow-x: hidden;
    margin: 0px !important;
    width: 100vw !important;
}

body,
div,
html {
    font-family: "Maven Pro" !important;
}

h1 {
    font-size: calc(32px + 2.2vw) !important;
    font-weight: bold !important;
}

h2 {
    font-size: calc(30px + 1.1vw) !important;
    font-weight: bold !important;
    letter-spacing: 1.2px !important;
}

p {
    font-size: calc(14px + 0.25vw);
    letter-spacing: 1px;
    line-height: 1.6;
}

.logo {
    font-weight: bold;
    color: white;
    font-size: 20px;
    letter-spacing: 6px;
}

@media only screen and (max-width: 720px) {
    h1 {
        font-size: 38px;
    }

    h2 {
        font-size: 30px !important;
    }

    .logo {
        font-size: 16px;
        position: relative;
        top: 6px;
    }
}

a {
    outline: none !important;
}

.footer {
    width: 100%;
    background-color: white;
    padding-top: 60px;
    font-size: 14px;
    margin: auto;
    max-width: 1920px;
    padding: 30px;
    padding-top: 60px;
}

.footer .title {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 25px;
    text-align: left;
}

.footer .text {
    margin-top: 10px;
    color: #555555;
    text-decoration: none;
    margin-bottom: 4px;
    line-height: 1.7;
    text-align: left;
}

.page-link {
    color: #555555 !important;
    border: none !important;
    text-decoration: none !important;
    margin-bottom: 0px !important;
    padding-left: 0px !important;
    font-size: 14px !important;
    padding-bottom: 0px !important;
}

.page-link:hover {
    color: #111111 !important;
    background: none !important;
}

.section-name {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 16px;
}

@media only screen and (max-width: 700px) {
    .page-link {
        font-size: 13px !important;
    }

    .section-name {
        font-size: 14px;
    }
}

.icon-box {
    background-color: #ebebeb;
    width: 40px;
    height: 40px;
    position: relative;
    margin-right: 10px;
    border-radius: 4px;
}

.icon-box .icon {
    color: #888888;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
