@import url("https://fonts.googleapis.com/css?family=Maven+Pro|Kalam&display=swap");

body {
    overflow-x: hidden;
    margin: 0px !important;
    width: 100vw !important;
}

body,
div,
html {
    font-family: "Maven Pro" !important;
}

h1 {
    font-size: calc(32px + 2.2vw) !important;
    font-weight: bold !important;
}

h2 {
    font-size: calc(30px + 1.1vw) !important;
    font-weight: bold !important;
    letter-spacing: 1.2px !important;
}

p {
    font-size: calc(14px + 0.25vw);
    letter-spacing: 1px;
    line-height: 1.6;
}

.logo {
    font-weight: bold;
    color: white;
    font-size: 20px;
    letter-spacing: 6px;
}

@media only screen and (max-width: 720px) {
    h1 {
        font-size: 38px;
    }

    h2 {
        font-size: 30px !important;
    }

    .logo {
        font-size: 16px;
        position: relative;
        top: 6px;
    }
}
