[Unit]
Description=Fractal Service
After=fractal-display.service fractal-audio.service
Requires=fractal-display.service fractal-audio.service

[Service]
WorkingDirectory=/usr/share/fractal
Type=exec
Environment=DISPLAY=:10
Environment=XAUTHORITY=/home/fractal/.Xauthority
ExecStart=/usr/share/fractal/FractalServer

[Install]
WantedBy=default.target
