[Unit]
Description=Display and protocol entrypoint, runs as user fractal
After=fractal-entrypoint.service
Requires=fractal-entrypoint.service

[Service]
User=root
EnvironmentFile=/home/fractal/display-service-envs
ExecStart=/usr/bin/Xorg -noreset +extension GLX +extension RANDR +extension RENDER -logfile ${xorg_log_file_nvidia} -config ${xorg_config_file_nvidia} :${display_num_nvidia}

[Install]
WantedBy=multi-user.target
