[Unit]
Description=Display and protocol entrypoint, runs as user fractal
After=fractal-entrypoint.service
Requires=fractal-entrypoint.service

[Service]
User=root
Type=exec
EnvironmentFile=/home/fractal/display-service-envs
ExecStart=/usr/bin/xinit -- /usr/bin/Xorg :${display_num_nvidia} -noreset +extension GLX +extension RANDR +extension RENDER -logfile ${xorg_log_file_nvidia} -config ${xorg_config_file_nvidia} vt${tty_number}

[Install]
WantedBy=multi-user.target
