[Unit]
Description=Fractal Service
After=fractal-display.service fractal-audio.service
Requires=fractal-display.service

[Service]
WorkingDirectory=/usr/share/fractal
Type=simple
Environment=DISPLAY=:10
Environment=XAUTHORITY=/home/fractal/.Xauthority
ExecStart=/protocol/server/build64/FractalServer
Restart=always
RestartSec=3

[Install]
WantedBy=default.target
