input[type="range"] {
  -webkit-appearance: none;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #71d9ff;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  cursor: pointer;
}
