@import '~app.global.css';

.loginWrapper {
    width: 100vw;
    height: 100vh;
    position: relative;
    background: var(--text-background-color);
    overflow-y: hidden;
    overflow-x: hidden;
}

.loginCenter {
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
    text-align: center;
}
