# Starts Fractal by starting Fractal systemd services, runs as root
[Unit]
Description=Fractal Entrypoint

[Service]
Type=oneshot
ExecStart=/usr/share/fractal/entry.sh

[Install]
WantedBy=multi-user.target
