# Starts the NVIDIA display configured for Fractal, runs as root
[Unit]
Description=Fractal Display
After=fractal-entrypoint.service
Requires=fractal-entrypoint.service

[Service]
User=root
Type=notify
NotifyAccess=all
EnvironmentFile=/usr/share/fractal/fractal-display-config.env
ExecStart=/usr/bin/xinit -- /usr/bin/Xorg :${display_num_nvidia} -noreset +extension GLX +extension RANDR +extension RENDER -logfile ${xorg_log_file_nvidia} -config ${xorg_config_file_nvidia} vt${tty_number}

[Install]
WantedBy=multi-user.target
