# Starts the Fractal Protocol Server with the right environment variables and NVIDIA display, runs as root
[Unit]
Description=Fractal Protocol
After=fractal-display.service fractal-audio.service
Requires=fractal-display.service fractal-audio.service

[Service]
WorkingDirectory=/usr/share/fractal
Type=exec
Environment=DISPLAY=:10
Environment=XAUTHORITY=/home/fractal/.Xauthority
ExecStart=/usr/share/fractal/run-fractal-server.sh

[Install]
WantedBy=default.target
