# Use an "inverted-ignore" approach, e.g. ignore everything by default
# and then manually unignore things as needed

*
!requirements.txt
!app/
!tests/
!migrations/
!secrets/
!*.py
!stem-cell.sh
**/.DS_Store
