# Python
.env*
env/
Test-Environment
"env"
*.pyc
*.py[cod]
env3.6
.venv/
venv/
__pycache__/

# Heroku
herokulogs.txt

# Vagrant
.vagrant
*.box
ubuntu-bionic-18.04-cloudimg-console.log

# VS Code
.vscode/*
.vscode
