# Python
.env*
env/
Test-Environment
*.pyc
*.py[cod]
env3.6
.venv/
venv/
__pycache__/

# Heroku
herokulogs.txt

# Vagrant
.vagrant
ubuntu-bionic-18.04-cloudimg-console.log
*.box

# VS Code
.vscode/*
.vscode

# MacOS
.DS_Store
