# Starts the display configured for Fractal, runs as root
[Unit]
Description=Fractal Display
After=fractal-startup.service
Requires=fractal-startup.service

[Service]
User=root
Type=forking
EnvironmentFile=/usr/share/fractal/fractal-display-config.env
ExecStart=/usr/share/fractal/fractal-display.sh
StandardOutput=file:/var/log/fractal/display-out.log
StandardError=file:/var/log/fractal/display-err.log
PIDFile=/var/log/fractal/xinit-pid

[Install]
WantedBy=multi-user.target
