.windowControl:hover {
  cursor: pointer;
  color: #5EC4EB !important;
}

.container {
  position: absolute;
  text-align: center;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: 'Maven Pro';
  margin: 0px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #EEEEEE;
  -webkit-app-region: drag;
}

.container h2 {
  font-size: 5rem;
}

.container a {
  font-size: 1.4rem;
}

button {
  outline: none;
}

.feedbackBox ::placeholder {
  font-size: 24;
  color: #5EC4EB;
  opacity: 0.5;
  font-family: 'Maven Pro';
}

.nicknameContainer ::placeholder {
  font-size: 11;
  color: white;
  opacity: 0.4;
  font-family: 'Maven Pro';
}


.windowControl:hover {
  cursor: pointer;
  color: #5EC4EB !important;
}

.landingHeader {
    padding: 30px 50px;
    display: flex;
    color: #333333;
}

.landingHeaderLeft {
    width: 40%;
    text-align: left;
}

.landingHeaderRight{
    width: 60%;
    text-align: right;
    font-size: 12px;
    color: #D3D3D3;
}

.logoTitle {
    font-family: 'Maven Pro';
    position: relative;
    bottom: 3px;
    left: 10px;
    font-weight: 'bold';
    font-size: 20px;
}

.signupButton, .loginButton {
    font-family: 'Maven Pro';
    border: none;
    background: rgba(94, 195, 235, 0.2);
    font-weight: bold;
    border-radius: 5px;
    padding: 10px 30px;
    color: #1ba8e0;
    font-weight: 'bold';
    margin-left: 10px;
    font-size: 14px;
}

.loginButton {
    border: none;
    color: white;
    background: linear-gradient(258.54deg, #5ec3eb 0%, #d023eb 100%);
    margin-left: 0px;
    width: 275px;
}

.signupButton:hover, .loginButton:hover {
    cursor: pointer;
}

.headerButton {
  margin-left: 15px;
  font-weight: bold;
  color: #111111;
  font-size: 14px;
}

.headerButton:hover {
  cursor: pointer;
  color: #5EC4EB;
}

.faSpin {
  position: relative;
  top: 2px;
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
}
.faPulse {
  -webkit-animation: fa-spin 1s infinite steps(8);
  animation: fa-spin 1s infinite steps(8);
}

@-webkit-keyframes faSpin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes faSpin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.blueGradient {
  background: linear-gradient(258.84deg, #5ec3eb 0%, #d023eb 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.bigBox, .statBox {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.20);
}

.bigBox:hover {
  cursor:pointer;
  transform: scale(1.01);
}

.feedbackButton {
  border: none;
  border-radius: 5px; 
  padding: 10px;
  background: #5EC4EB; 
  color: #0B172B; 
  margin-top: 20px; 
  width: 80px; 
  font-size: 16px; 
  font-weight: bold;
}

.feedbackButton:hover {
  cursor: pointer;
  background-color: #72cbed;
}

.pointerOnHover:hover {
  cursor: pointer;
}

/* width */
::-webkit-scrollbar {
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #0F1123;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #5EC4EB;
}

.macTitleBar {
  -webkit-app-region: drag;
  margin-top: 22px;
}

.removeDrag {
  -webkit-app-region: no-drag;
}

.bigButton {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
  position: relative;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255,255,255,0.8)), url('../../resources/images/car.jpg');
  width: 100%;
  height: 275px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 5px;
}

.bigButton .centerContent {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  color: #111111;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-size: 20px;
}

.bigButton .centerText {
  margin-top: 10px;
  color: #333333;
  font-size: 16px;
  line-height: 1.4;
}

.bigButton .centerSubtext {
  margin-top: 5px;
  color: #333333;
  font-size: 12px;
  line-height: 1.4;
}