.dashboardContainer {
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signoutButton {
    font-family: "Maven Pro";
    font-weight: bold;
    padding: 10px 25px;
    background: white;
    color: black;
    font-size: 11px;
    width: 100%;
    margin-top: 10px;
    border: solid 0.8px #cccccc;
}

.userInfo {
    display: flex;
    flex-direction: row;
    opacity: 1 !important;
}

.userInfo:hover {
    cursor: pointer;
}

.feedbackButton,
.noFeedbackButton {
    font-family: "Maven Pro";
    font-weight: bold;
    padding: 10px 25px;
    width: 150px;
    border: solid 0.8px #cccccc;
    background: white;
    color: black;
    font-size: 13px;
    float: right;
    margin-top: 15px;
    text-align: center;
}

.noFeedbackButton {
    background: #eeeeee;
    border: solid 0.8px #eeeeee;
}

.signoutButton:hover,
.launchButton:hover,
.expandButton:hover,
.modalButton:hover,
.feedbackButton:hover {
    background: #93f1d9;
    cursor: pointer;
    color: #111111;
}

.navBar {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 50px;
    z-index: 2;
}

.logoTitle {
    color: black;
    font-family: "Maven Pro";
    font-size: 18px !important;
    letter-spacing: 1.7px;
    font-weight: bold;
}

.navTitle,
.selectedNavTitle {
    color: #111111;
    background: white;
    font-weight: bold;
    border-radius: 5px;
    padding: 7px 35px;
    margin-right: 35px;
    display: inline-block;
    letter-spacing: 1.2px;
    font-size: 14px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.selectedNavTitle {
    color: white;
    background: #111111;
}

.navTitle:hover,
.selectedNavTitle:hover {
    cursor: pointer;
}

.name {
    font-family: "Maven Pro SemiBold";
    font-size: 13px;
}

.email {
    font-size: 11px;
    color: #999999;
}

.macTitleBar {
    -webkit-app-region: drag;
    margin-top: 22px;
}

.removeDrag {
    -webkit-app-region: no-drag;
}

.page {
    flex: 1;
    padding: 35px 125px;
}

.carouselRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
}

.select {
    height: 38px;
    width: 7px;
    background: #111111;
    position: absolute;
    right: 0px;
}

.row {
    flex-wrap: nowrap;
    margin: 0;
}

.appContainer {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    z-index: 1;
    background: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease-in-out;
    border-radius: 10px;
    margin-top: 25px;
}

.appContainer:hover {
    cursor: pointer;
    z-index: 2;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    background: white;
}

.appImage {
    width: 45px;
    height: 45px;
}

.appHeading {
    text-align: left;
}

.appName {
    font-size: 16px;
    margin-top: 25px;
    font-weight: bold;
}

.appDescription {
    font-size: 12px;
    margin-top: 10px;
    transition: all 0.2s ease-in-out;
    color: #666666;
}

.appButtons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: absolute;
    bottom: 25px;
    right: 25px;
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

.launchButton {
    position: absolute;
    bottom: 17px;
    right: 17px;
    font-size: 11px;
    padding: 4px 10px;
    width: 100px;
    color: #111111;
    border: solid 0.8px #cccccc;
    outline: none;
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

.appContainer:hover .launchButton {
    opacity: 100;
}

.expandButton {
    border: solid 0.8px #cccccc;
    border-left: none;
    padding: 3px 7px 6px 7px;
    width: 27px;
    outline: none;
}

.expandButton:hover {
    border-left: none;
}

.modalAppImage {
    height: 100px;
}

.modalButton {
    position: absolute;
    right: 40px;
    bottom: 40px;
    text-align: center;
    padding: 10px 30px;
    color: white;
    font-weight: bold;
    width: 200px;
    background: #3930b8;
    border: none;
    box-shadow: none;
    border-radius: 5px;
}

.appLink {
    color: #3930b8;
    margin-left: 30px;
}

.tos {
    position: absolute;
    left: 40px;
    bottom: 40px;
    font-size: 11px;
    color: #999999;
}

.tosLink {
    color: #3930b8;
}

.appLink:hover,
.tosLink:hover {
    cursor: pointer;
}

.container {
    background: rgba(237, 240, 247, 0.75);
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
    font-family: "Maven Pro";
    margin: 0px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-app-region: drag;
    user-select: none; /* Disable text selection on arbitrary UI elements to make the application feel more native */
}

.bannerText {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 525px;
    height: 275px;
    margin: 15px 0 0 90px;
    z-index: 1;
}

.category {
    padding: 5px 25px;
    border: solid 0.8px black;
    font-weight: bold;
    width: max-content;
    font-size: 13px;
    z-index: 2;
}

.heading {
    letter-spacing: 2px;
    z-index: 2;
}

.subheading {
    font-size: 16px;
    color: #333333;
    z-index: 2;
}

.carousel-indicators {
    bottom: -20px;
}

.bannerLink:hover {
    cursor: pointer;
}

select {
    background: white;
    width: 100%;
    border-radius: 0px;
    border: none;
    text-indent: 11px;
    height: 58px;
    outline: 3px solid white;
    outline-offset: -3px;
    color: black;
}

select:required:invalid {
    color: #9eb1e6;
}

::placeholder {
    color: #9eb1e6;
}

.searchBar {
    width: 280px;
    border-radius: 5px;
    /* box-shadow: 0px 1px 8px #dddddd; */
    margin-right: 15px;
    z-index: 1;
    outline: none;
    border: none;
    padding: 5px 10px;
    text-indent: 5px;
    font-size: 12px;
    background: white;
    height: 35px;
}

.searchBar:focus,
.searchBar:active {
    background: white;
}

.searchBar::placeholder {
    color: #999999;
}

.contactFormLink {
    color: #5ec4eb;
}

.contactFormLink:hover {
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 0px;
}

.faPlayButton {
    font-size: 9px;
    color: #3930b8;
}

.playButton {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background: white;
    border: solid 5px rgba(237, 240, 247, 0.75);
    bottom: -20px;
    right: -5px;
    z-index: 100px;
}

.playButton:hover {
    cursor: pointer;
    background: #3930b8;
}

.playButton:hover .faPlayButton {
    color: white;
}

.playButton:hover .appContainer {
    background: white;
    box-shadow: none;
}
