[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pytest = "*"
pytest-docker = "*"
psycopg2 = "*"
migra = "*"
docker = "*"
pretty-errors = "*"
stopit = "*"

[dev-packages]

[requires]
python_version = "3.9"
